* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	min-height: 100% !important;
}

body {
/* 	-webkit-animation: darkersky 2s ease-out 1s forwards; */
/* 	animation: darkersky 2s ease-out 1s forwards; */
	background-color: #1E5B7A;
}

#container {
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

#sky {
	background-color: transparent;
	height: 100%;
	position: relative;
	width: 100%;
}

.cloud:before {
	background-color: #1f313a;
	content: "";
	-webkit-border-radius: 60px;
	border-radius: 60px;
	height: 60px;
	position: absolute;
	top: -30px;
	left: 30px;
	width: 60px;
}

.cloud:after {
	background-color: #313f47;
	content: "";
	-webkit-border-radius: 40px;
	border-radius: 40px;
	height: 40px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 60px;
}

.cloud {
	background-color: #1f313a;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	height: 60px;
	position: absolute;
	width: 120px;
}

#mountain-container {
	position: fixed;
	bottom: -10px;
	transform: translateX(50%);
}

.mountain {
	border-top: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 150px solid #a56729;
	border-left: 150px solid transparent;
	display: inline-block;
	height: 0;
	margin:0;
	position: relative;
	width: 0;
}

.mountain-left {
	border-bottom-color: #633D18;
	border-top-width: 100px;
	border-right-width: 100px;
	border-bottom-width: 100px;
	border-left-width: 100px;
}
.mountain-middle {
	border-top-width: 250px;
	border-right-width: 250px;
	border-bottom-width: 250px;
	border-left-width: 250px;
	margin: 0 -250px 0 -100px;
}
.mountain-right {
	border-bottom-color: #C19756;
}


/* *** All Animations *** */
/*Clouds coming in*/
@-webkit-keyframes comeinl {
    from {
    	-webkit-transform: translate(-100%, 0);
    	-moz-transform: translate(-100%, 0);
    	transform: translate(-100%, 0);
    }
    to {
    	-webkit-transform: translate(100%, 0);
    	-moz-transform: translate(100%, 0);
    	transform: translate(100%, 0);
    }
}
@keyframes comeinl {
    from {
    	-webkit-transform: translate(-100%, 0);
    	-moz-transform: translate(-100%, 0);
    	transform: translate(-100%, 0);
    }
    to {
    	-webkit-transform: translate(100%, 0);
    	-moz-transform: translate(100%, 0);
    	transform: translate(100%, 0);
    }
}

@-webkit-keyframes comeinr {
    from {
    	-webkit-transform: translate(100%, 0);
    	-moz-transform: translate(100%, 0);
    	transform: translate(100%, 0);
   	}
    to {
    	-webkit-transform: translate(-100%, 0);
    	-moz-transform: translate(-100%, 0);
    	transform: translate(-100%, 0);
    }
}
@keyframes comeinr {
    from {
    	-webkit-transform: translate(100%, 0);
    	-moz-transform: translate(100%, 0);
    	transform: translate(100%, 0);
   	}
    to {
    	-webkit-transform: translate(-100%, 0);
    	-moz-transform: translate(-100%, 0);
    	transform: translate(-100%, 0);
    }
}

@-webkit-keyframes darkersky {
	from {background-color: #1E5B7A;}
	to {background-color: #415c69;}
}

@keyframes darkersky {
	from {background-color: #1E5B7A;}
	to {background-color: #415c69;}
}

/*@-webkit-keyframes expandfragment {
    from {
    	height: 0;
    	width: 0;
   	}
    to {
    	height: 100px;
    	width: 100px;
    }
}
@keyframes expandfragment {
    from {
    	height: 0;
    	width: 0;
   	}
    to {
    	height: 100px;
    	width: 100px;
    }
}*/
