* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	min-height: 100% !important;
}

body {
	-webkit-animation: darkersky 2s ease-out 1s forwards;
	animation: darkersky 2s ease-out 1s forwards;
	background-color: #1E5B7A;
}

#container {
	-webkit-animation: thunder 10s ease-out 15s infinite forwards;
	animation: thunder 10s ease-out 15s infinite forwards;
	background-color: transparent;
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

#sky {
	background-color: transparent;
	height: 100%;
	position: relative;
	width: 100%;
}

.cloud:before {
	background-color: #1f313a;
	border-top: 5px solid #313f47;
	border-right: 5px solid #313f47;
	content: "";
	-webkit-border-radius: 120px;
	border-radius: 120px;
	height: 120px;
	position: absolute;
	top: -60px;
	left: 60px;
	width: 120px;
}

.cloud {
	background-color: #1f313a;
	border-top: 10px solid #313f47;
	-webkit-border-radius: 120px;
	border-radius: 120px;
	height: 120px;
	position: absolute;
	width: 240px;
}

.cloud-left {
	animation-name: comeinl;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: forwards;
	transform: translateX(-100%);
	left: 0;
	right: 100%;
}

.cloud-right {
	animation-name: comeinr;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: forwards;
	transform: translateX(100%);
	left: 100%;
	right: 0;
}

#mountain-container {
	position: fixed;
	bottom: -10px;
	transform: translateX(50%);
}

.mountain {
	border-top: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 150px solid #633D18;
	border-left: 150px solid transparent;
	display: inline-block;
	height: 0;
	margin:0;
	position: relative;
	width: 0;
}

.mountain-left {
	border-bottom-color: #593615;
	border-top-width: 100px;
	border-right-width: 100px;
	border-bottom-width: 100px;
	border-left-width: 100px;
}
.mountain-middle {
	border-top-width: 250px;
	border-right-width: 250px;
	border-bottom-width: 250px;
	border-left-width: 250px;
	margin: 0 -250px 0 -100px;
}
.mountain-right {
	border-bottom-color: #72502f;
}


/* *** All Animations *** */
/*Clouds coming in*/
@-webkit-keyframes comeinl {
    from {
    	-webkit-transform: translateX(-100%);
    	-moz-transform: translateX(-100%);
    	transform: translateX(-100%);
    	left: 0;
    	right: 100%;
    }
    to {
    	-webkit-transform: translateX(100%);
    	-moz-transform: translateX(100%);
    	transform: translateX(100%);
    	left: 100%;
    	right: 0;
    }
}
@keyframes comeinl {
    from {
    	-webkit-transform: translateX(-100%);
    	-moz-transform: translateX(-100%);
    	transform: translateX(-100%);
    	left: 0;
    	right: 100%;
    }
    to {
    	-webkit-transform: translateX(100%);
    	-moz-transform: translateX(100%);
    	transform: translateX(100%);
    	left: 100%;
    	right: 0;
    }
}

@-webkit-keyframes comeinr {
    from {
    	-webkit-transform: translateX(100%);
    	-moz-transform: translateX(100%);
    	transform: translateX(100%);
    	left: 100%;
    	right: 0;
   	}
    to {
    	-webkit-transform: translateX(-100%);
    	-moz-transform: translateX(-100%);
    	transform: translateX(-100%);
    	left: 0;
    	right: 100%;
    }
}
@keyframes comeinr {
    from {
    	-webkit-transform: translateX(100%);
    	-moz-transform: translateX(100%);
    	transform: translateX(100%);
    	left: 100%;
    	right: 0;
   	}
    to {
    	-webkit-transform: translateX(-100%);
    	-moz-transform: translateX(-100%);
    	transform: translateX(-100%);
    	left: 0;
    	right: 100%;
    }
}

/*Darker Sky*/
@-webkit-keyframes darkersky {
	from {background-color: #1E5B7A;}
	to {background-color: #415c69;}
}

@keyframes darkersky {
	from {background-color: #1E5B7A;}
	to {background-color: #415c69;}
}

/*Thunder*/
@-webkit-keyframes thunder {
    0% {
    	background-color: transparent;
   	}
    1% {
    	background-color: rgba(255,255,255,0.5);
    }
    2% {
    	background-color: transparent;
   	}
    5% {
    	background-color: rgba(255,255,255,0.95);
    }
    10% {
    	background-color: transparent;
    }
    100% {
    	background-color: transparent;
    }
}
@keyframes thunder {
    0% {
    	background-color: transparent;
   	}
    1% {
    	background-color: rgba(255,255,255,0.5);
    }
    2% {
    	background-color: transparent;
   	}
    5% {
    	background-color: rgba(255,255,255,0.95);
    }
    10% {
    	background-color: transparent;
    }
    100% {
    	background-color: transparent;
    }
}
