* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	min-height: 100% !important;
}

body {
	background-color: #D3EBF2;
}

#container {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}

/*Fridge*/
#fridge {
    background-color: #d42916;
    border-radius: 20px;
    display: inline-block;
    height: 400px;
    position: relative;
    width: 250px;
}

#fridge:before {
    background-color: rgba(0,0,0,0.1);
    border-radius: 0 20px 20px 0;
    content: "";
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 125px;
    z-index: 0;
}

#freezer {
    background-color: transparent;
    border: none;
    border-bottom: 10px solid #a92011;
    height: 33%;
    position: relative;
    width: 100%;
    z-index: 10;
}

#freezer:before {
    background-color: #a92011;
    border-radius: 10px;
    content: "";
    height: 60px;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 10px;
    left: 20px;
    width: 8px;
    z-index: 15px;
}

#shelves {
    background-color: #91cee0;
    border-top: 20px solid #63bad4;
    border-right: 40px solid #72c0d8;
    border-bottom: 40px solid #63bad4;
    border-left: 40px solid #72c0d8;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
    height: 57%;
    margin: 5%;
    position: relative;
    width: 90%;
    z-index: 10;
}

#door {
    background-color: #91cee0;
    border-top: 15px solid #d42916;
    border-right: 10px solid #d42916;
    border-bottom: 20px solid #d42916;
    border-left: 10px solid #d42916;
    border-radius: 0 0 20px 20px;
    display: inline-block;
    margin-top: 132px;
    height: 225px;
    width: 250px;
}

#door:before,
#door:after {
    background-color: #a92011;
    content: "";
    height: 30px;
    position: absolute;
    right: 270px;
    width: 5px;
}
#door:before {
    bottom: 175px;
}
#door:after {
    bottom: 50px;
}

/*Landscape*/
#landscape {
    margin-top: 55px;
}

#tree {
    width: auto;
}

.leaves {
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-radius: 40px;
    display: table;
    margin: 0 auto;
    height: 0;
    position: relative;
    width: 0;
}

.leaves:nth-of-type(1) {
    border-bottom-color: #6CA572;
    margin-top: -30px;
    border-width: 30px;
    z-index: 50;
}
.leaves:nth-of-type(2) {
    border-bottom-color: #3B8742;
    margin-top: -60px;
    border-width: 45px;
    z-index: 45;
}
.leaves:nth-of-type(3) {
    border-bottom-color: #0b6a14;
    margin-top: -87px;
    border-width: 60px;
    z-index: 40;
}

.trunk {
    background-color: #b0753a;
    border-radius: 0 0 10px 10px;
    display: table;
    height: 25px;
    margin: 0 auto;
    position: relative;
    width: 10px;
    z-index: 50;
}

.trunk-shadow {
    background-color: rgba(0,0,0,0.1);
    border-radius: 20px;
    display: table;
    height: 10px;
    margin: -7px auto 0;
    position: relative;
    width: 20px;
    z-index: 45;
}

#ground {
    background-color: transparent;
    margin: -20px 0 0;
    position: relative;
    z-index: 40;
}
 .ground-item {
    background-color: #fff;
    border-radius: 50px;
    display: table;
    height: 15px;
    margin: 0 auto -5px;
 }

.ground-item:nth-of-type(1){
    width: 60px;
}

.ground-item:nth-of-type(2){
    width: 90px;
}

.ground-item:nth-of-type(3){
    width: 80px;
}

.ground-item:nth-of-type(4){
    width: 40px;
}

/*weather*/
.flake {
    animation-name: snowing;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: forwards;
    background-color: #FFF;
    border-radius: 20px;
    height: 8px;
    width: 8px;
    opacity: 0;
    position: absolute;
    z-index: 100;
    top: 0;
}


/* *** All Animations *** */
@-webkit-keyframes snowing {
    0% {top: 0; opacity: 0;}
    10% {opacity: 0.8;}
    66% {top: 100%; opacity: 0.8;}
    70% {top: 100%; opacity: 0;}
    100% {top: 100%; opacity: 0;}
}
@keyframes snowing {
    0% {top: 0; opacity: 0;}
    10% {opacity: 0.8;}
    66% {top: 100%; opacity: 0.8;}
    70% {top: 100%; opacity: 0;}
    100% {top: 100%; opacity: 0;}
}