* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	min-height: 100% !important;
}

body {
	background-color: #BBCDD7;
}

#container {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}

#frigo {
    background-color: #d42916;
    border-radius: 20px;
    display: inline-block;
    height: 400px;
    position: relative;
    width: 250px;
}

#frigo:before {
    background-color: rgba(0,0,0,0.1);
    border-radius: 0 20px 20px 0;
    content: "";
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 125px;
    z-index: 0;
}

#freezer {
    background-color: transparent;
    border: none;
    border-bottom: 10px solid #a92011;
    height: 33%;
    position: relative;
    width: 100%;
    z-index: 10;
}

#freezer:before {
    background-color: #a92011;
    border-radius: 10px;
    content: "";
    height: 60px;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 10px;
    left: 20px;
    width: 8px;
    z-index: 15px;
}

#shelves {
    background-color: #91cee0;
    border-top: 40px solid #63bad4;
    border-right: 40px solid #72c0d8;
    border-bottom: 20px solid #63bad4;
    border-left: 40px solid #72c0d8;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
    height: 57%;
    margin: 5%;
    position: relative;
    width: 90%;
    z-index: 10;
}

#door {
    background-color: #91cee0;
    border-top: 15px solid #d42916;
    border-right: 10px solid #d42916;
    border-bottom: 20px solid #d42916;
    border-left: 10px solid #d42916;
    border-radius: 0 0 20px 20px;
    display: inline-block;
    margin-top: 132px;
    height: 225px;
    width: 250px;
}

.leaves {
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #0b6a14;
    height: 0;
    width: 0;
}

.leaves.top {
    margin-top: -20px;
    margin-left: 20px;
    border-width: 20px;
}
.leaves.middle {
    margin-top: -40px;
    margin-left: 10px;
    border-width: 30px;
}
.leaves.bottom {
    margin-top: -50px;
    border-width: 40px;
}

.trunk {
    background-color: #542e08;
    height: 20px;
    margin-left: 30px;
    width: 20px;
}


/* *** All Animations *** */
