* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	min-height: 100% !important;
}

body {
	background-color: #BBCDD7;
}

#frigo {
    background-color: #d42916;
    border-radius: 20px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
}

#frigo:before {
    background-color: rgba(0,0,0,0.2);
    border-radius: 0 20px 20px 0;
    content: "";
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 125px;
}

#freezer {
    background-color: transparent;
    border: none;
    border-bottom: 10px solid #a92011;
    height: 33%;
    width: 100%;
}

#shelves {
    background-color: #63bad4;
    border-radius: 0 0 20px 20px;
    height: 57%;
    margin: 5%;
    width: 90%;
}


/* *** All Animations *** */